{% extends 'base.html.twig' %}

{% block body %}

<h1 class="page-header text-center"><b>Welcome to Mini School</b></h1>
<div class="col-lg-12 text-capitalize text-center">
    <br /><br /><br /><br /><br /><br /><br />
    <h2 class="text-center">Where Teachers teach fashkh</h2>
</div>
{% endblock %}